.bg-color-000
  background-color #000
.bg-color-333
  background-color #333
.bg-color-666
  background-color #666
.bg-color-999
  background-color #999
.bg-color-ccc
  background-color #ccc
.bg-color-eee
  background-color #eee
.bg-color-fff
  background-color #fff
.bg-color-1C71B7,.bg-color-blue
  background-color #1C71B7
.bg-color-FFBB47-1
  background-color rgba(#FFBB47,.1)
.bg-color-32BA59-1
  background-color rgba(#32BA59,.1)
.bg-color-1C71B7
  background-color #1C71B7
.bg-color-F6F6F6
  background-color #F6F6F6
.bg-color-0089D1
  background-color #0089D1
.bg-color-C63639
  background-color #C63639
.bg-color-38ADFF
  background-color #38ADFF
.bg-color-FF5144
  background-color #FF5144
.bg-color-F5F5F5
  background-color #f5f5f5
.bg-color-E6F0FC
  background-color #E6F0FC
.bg-color-2D6BD9
  background-color #2D6BD9
.bg-color-E9F1FA
  background-color: #E9F1FA

.bg-repeat-no
  background-repeat no-repeat

.bg-position-l-c
  background-position left center

.bg-position-c-c
  background-position center center

.bg-position-c-t
  background-position center top


.bg-size-contain
  background-size contain
.bg-size-cover
  background-size cover
.bg-size-100
  background-size 100% 100%

.bg-fff
  @extend .bg-color-fff
.bg-ccc
  @extend .bg-color-ccc
.bg-no
  background none!important
.bg-transparent
  background-color transparent!important

.bg-linear-header
  background linear-gradient(90deg,rgba(1,69,168,1) 0%,rgba(28,113,183,1) 100%);
.bg-app
  @extend .bg-color-F6F6F6
.bg-red
  background-color #C63639
.bg-blue
  @extend .bg-color-1C71B7
.bg-linear-ellipse
  background:linear-gradient(180deg,rgba(255,255,255,1) 0%,rgba(233,233,233,1) 100%)
