.b-r-circle
  border-radius: 50%
.b-r-2
  border-radius: 2px
.b-r-3
  border-radius: 3px
.b-r-4
  border-radius: 4px
.b-r-8
  border-radius: 8px
.b-r-10
  border-radius: 10px
.b-r-16
  border-radius:16px
.b-r-20
  border-radius: 20px
.b-r-24
  border-radius: 24px

.b-r-32
  border-radius: 32px
.b-r-40
  border-radius 40px
.b-r-44
  border-radius:44px;
.b-r-45
  border-radius: 45px

.b-666
  border 1px solid #666
.b-333
  border 1px solid #333
.b-ccc
  border 1px solid #cccccc
.b-f6f6f6
  border 1px solid #f6f6f6
.b-fff
  border 1px solid #fff
.b-eee
  border 1px solid #eee
.b-FF0000
  border 1px solid #FF0000
.b-2D6BD9
  border 2px solid #2D6BD9


.b-no-t
  border-top none !important
.b-no-b
  border-bottom none !important 
.b-no-l
  border-left none !important
.b-no-r
  border-right none !important 
.b-no-tb
  @extend .b-no-t
  @extend .b-no-b
.b-no-lr
  @extend .b-no-l
  @extend .b-no-r
.b-no-lrt
  @extend .b-no-l
  @extend .b-no-r
  @extend .b-no-t
.b-no
  @extend .b-no-t
  @extend .b-no-b
  @extend .b-no-l
  @extend .b-no-r

.b-app
  border:1px solid rgba(246,246,246,1)
  border-radius 0!important
.b-1-ccc
  border 1px solid #ccc
.b-2-eee
  border 2px solid #eee
.b-2-1C71B7
  border 2px solid #1C71B7

.b-w-1
  border-width 1px !important 
.b-w-2
  border-width 2px !important

.b-transparent
  border 1px solid transparent
.b-blue
  border 1px solid #1C71B7
.b-blue-2
  @extend .b-blue 
  @extend .b-w-1
.b-app
  @extend .b-f6f6f6
  @extend .b-w-1