.van-cell-group
  .van-icon-contact
    width 32px
    height 32px
  .van-field
    height 88px!important
    display flex
    align-items  center
    padding-top 0
    padding-bottom 0
    padding-right 0
    .van-cell__value
      height 100%
      width 100%
      .van-field__label
        color #CCCCCC!important
        font-size 28px!important
      .van-field__body
        height 100%
        line-height 100%
        width 100%
        color #CCCCCC!important
        font-size 28px!important
        display flex
        align-items center
        padding-right 2px
        .van-field__control
           height 100%
           vertical-align middle
           width 100%
           display flex
           align-items center
        input::-ms-input-placeholder 
           display: flex
           align-items: center
           line-height 1.5em
        input::-webkit-input-placeholder 
           display: flex
           align-items: center
           line-height 1.5em
        .van-field__button
            height 88px
            line-height 88px
            display flex
            align-items center
            .imgCode
             height  64px
             line-height 64px
             width  140px
             display flex
             justify-content center
             align-items  center
        .van-button
            height 64px
            width 156px
            background-color #FFFFFF
            box-sizing border-box
            font-size 24px
            color #666666
            font-family PingFangSC-Semibold
            border 2px solid #1C71B7
            border-radius 8px
        .van-button::before
            box-sizing border-box
           