// 像素高度
/*
  .h-100{
    height:100px
    }
*/
  
$height-px = 0,
             1,
             2,
             4,
             8,
             10,
             12,
             14,
             15,
             16,
             20,
             22,
             24,
             25,
             26,
             28,
             32,
             34,
             36,
             40,
             42,
             45,
             48,
             50,
             52,
             55,
             60,
             62,
             64,
             65,
             68,
             70,
             72,
             80,
             88,
             90,
             96,
             100, 
             105,
             108,
             112,
             114,
             118,
             120,
             128,
             130,
             140,
             144,
             148,
             150,
             160,
             162,
             164,
             170,
             180,
             188,
             190,
             200,
             204,
             220,
             230,
             245,
             250,
             280,
             300,
             330,
             335,
             360,
             372,
             390,
             392,
             400,
             412,
             420,
             440,
             450,
             470,
             510,
             530,
             568,
             600,
             610,
             630,
             650,
             686,
             700,
             780,
             946

for heightPX in $height-px 
  .h-{heightPX}
    height (heightPX)px!important

// 行高
/*
  .l-h-100{
    height:100px
    }
*/
  
$lineHeight-px = 26,
                 28,
                 32,
                 34,
                 36,
                 40,
                 45,
                 48,
                 50,
                 55,
                 60,
                 64,
                 80,
                 88,
                 100,
                 112,
                 200,
                 280,
                 300,
                 400,
                 450,
                 510,
                 600,
                 610

for LineHeight in $lineHeight-px
  .l-h-{LineHeight}
    line-height (LineHeight)px!important


// 百分比高度
/*
  .h-per-100{
    height:100%;
    }
*/
$height-per = 25,
              60,
              70,
              80,
              100


for heightPer in $height-per
  .h-per-{heightPer}
    height (heightPer)%
