*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    font-family:"PingFangHK-Regular","PingFangSC-Semibold",'Microsoft YaHei', "Open Sans",arial,sim, sans-serif,'MicrosoftYaHe';
    box-sizing: border-box;
    font-size 28px
    color inherit
    word-break: break-word;
    -webkit-overflow-scrolling:touch;
    
  }
*
  &::-webkit-scrollbar
    width 6px
  &:hover
    &::-webkit-scrollbar-thumb
      background-color rgba(#999,1)

    &::-webkit-scrollbar-track-piece
      background rgba(#000,0.05)  
    &::-webkit-scrollbar-thumb
      transition all ease .3s
      border-radius 6px
      background-color rgba(#ccc,.7)
      cursor pointer
.list-container
  &::-webkit-scrollbar
    display none

html 
  height 100%
  width 100%
  font-size 100px
  transition none
body
  width 100%
  height 100%
  
header,main,footer,article,section,nav,aside
  display block
textarea
  resize none
input,button,textarea
  border: none
  border-width 0
  background none
  padding none
  outline: none
  &::placeholder
    color #bbb
    font-weight: 400
  

h1,h2,h3,h4,h5,h6
  font-weight 500

strong 
  font-weight 600

::-ms-clear, ::-ms-reveal
  display none

ul,ol,li
  list-style none
a
  text-decoration none
  // &:hover
  //   opacity 0.7
a,img
  border none
a
  border: none
  border-width 0
  // border-
em
  font-style:normal 
li
  list-style:none 
img
  border:0;
  vertical-align:middle 
table
  border-collapse:collapse;
  border-spacing:0 
p
  word-wrap:break-word 
  margin: 0;
  margin-bottom: 0!important;

// @import '//at.alicdn.com/t/font_1096371_ewqgtjzuvpw.css'
// @font-face {
//   font-family: 'iconfont';  /* project id 1096371 */
//   src: url('//at.alicdn.com/t/font_1096371_858xliosfj.eot');
//   src: url('//at.alicdn.com/t/font_1096371_858xliosfj.eot?#iefix') format('embedded-opentype'),
//   url('//at.alicdn.com/t/font_1096371_858xliosfj.woff2') format('woff2'),
//   url('//at.alicdn.com/t/font_1096371_858xliosfj.woff') format('woff'),
//   url('//at.alicdn.com/t/font_1096371_858xliosfj.ttf') format('truetype'),
//   url('//at.alicdn.com/t/font_1096371_858xliosfj.svg#iconfont') format('svg');
// }