// 像素宽度
/*
  .w-100{
    width:100px
    }
*/
$width-px = 0,
            2,
            4,
            6,
            8,
            10,
            12,
            16,
            20,
            25,
            26,
            32,
            34,
            40,
            42,
            48,
            50,
            60,
            65,
            70,
            72,
            80,
            88,
            90,
            96,
            100,
            112,
            120,
            128,
            130,
            140,
            148,
            150,
            160,
            170,
            180,
            200,
            208,
            220,
            224,
            225,
            240,
            250,
            272,
            274,
            285,
            300,
            312,
            320,
            334,
            350,
            360,
            370,
            400,
            420,
            430,
            440,
            480,
            495,
            500,
            520,
            528,
            550,
            560,
            582,
            600,
            620,
            637,
            650,
            670,
            690,
            700,
            720,
            750,
            800,
            1200

for widthPX in $width-px 
  .w-{widthPX}
    width (widthPX)px!important

// 百分比宽度
/*
  .w-per-100{
    width:100%;
    }
*/
$width-per = 25,
             50,
             90,
             95,
             100,
             350,
             450,
             500,
             650,
             690,
             700,
             720,
             730,
             750,
             780

for widthPER in $width-per
  .w-per-{widthPER}
    width (widthPER)%
